.skillGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    /* grid-template-columns: repeat(5, 13rem); */
    /* grid-auto-rows: 13rem; */
    grid-gap: 1rem; 
}

@media screen and (max-width: 600px) {
    .skillGrid {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

.skillGrid > div::before { /* Make the aspect ratio of elements square */
    content: "";
    padding-bottom: 100%;
    display: block;
  }

  .skill1, .skill2, .skill3, .skill4, .skill5 {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    background-color: gainsboro;
    border-radius: 6px;
}

.skill1:hover, .skill2:hover, .skill3:hover, .skill4:hover, .skill5:hover {
    opacity: 100%;
    color: white;
}

.skill1:hover {
    background-color: rgb(243, 97, 97);
}
.skill2:hover {
    background-color: rgb(85, 151, 238);
}