nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navLink {
    width: 15rem;
    text-align: center;
    color: #606c76;
}

.navLink:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color:rgb(241, 67, 67);
}