nav {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    animation: fadeIn ease 8s;
}

.navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 10em;
}
.navLink {
    color: #606c76; 
    margin-left: 5px;
}

.navIcon {
    height: 1.2em;
    width: 1.2em;
}

.navLink:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color:#3C579E;
}

@keyframes fadeIn {
    0% {opacity:0;}
    33% {opacity:0;}
    100% {opacity:1;}
    }

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    33% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    33% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    33% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    33% {opacity:0;}
    100% {opacity:1;}
}

/* 
CB8EB0
D1CFB9
B89D92
A58981
3C579E
9E6463 
*/